# Config and key
**/.env
**/config/config.yml

# Logs
**/*.log

# config run services
server/config/*.yaml
server/config/*.env
server/config/env.*
server/config/.env.*

infra/terraform/environments/*/secrets.auto.tfvars