apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: cio-verify-face-pvc
  namespace: cio-verify-face-dev
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
