server:
    name: 'cio_verify_face'
    id: 'service-auth-node-0'
    region: 'us-west-1'
    shardId: 'shard-1'
    port: 8080
    mode: 'dev' # default: dev, options: dev, prod
    degraded_threshold: 85.0
    out_of_service_threshold: 95.0

worker_attendance:
    num_workers: 5
    size_buffer_chan: 1000

service_auth:
    enabled: true
    grpc_addr: 'localhost:50051' # service_auth gRPC address
    tls:
        enabled: false
        cert_file: ''
        key_file: ''

grpc:
    network: 'tcp'
    host: '0.0.0.0'
    port: 50051
    tls:
        enabled: false
        cert_file: ''
        key_file: ''

policy_rate_limit:
    - name: 'ws_read'
      # limit: 1000
      limit: 5
      window: '1m'

scylladb:
    authentication:
        username: cassandra
        password: root1234
    address:
        - 127.0.1:9042
        # - v.v
    keyspace: cio_verify_face
    ssl:
        enabled: false # true/false
        certfile_path: '' # path default: ./config/scylladb/rootca.crt
        validate: true # true/false
        userkey_path: '' # path default: ./config/scylladb/client_key.key
        usercert_path: '' # path default: ./config/scylladb/client_cert.crt
    # pool config
    maxIdleConns: 10 # maximum number of idle connections
    maxOpenConns: 100 # maximum number of open connections
    connMaxLifetime: 3600 # maximum connection lifetime in seconds

postgres:
    address:
        - 127.0.0.1:5433
        # - v.v
    database: cio_verify_face
    username: postgres
    password: root1234
    sslmode: disable # 1: disable, require, verify-ca, verify-full
    sslcert: '' # path to your SSL certificate file, only if sslmode is not disable
    sslkey: '' # path to your SSL key file, only if sslmode is not disable
    sslrootcert: '' # path to your SSL root certificate file, only if sslmode is not disable
    sslpassword: '' # password for your SSL key file, only if sslmode is not disable
    appname: cio_verify_face-dev # application name
    connectionTimeout: 5 # seconds
    tz: 'UTC' # timezone
    maxConns: 10 # maximum number of connections
    minConns: 2 # minimum number of connections
    minIdleConns: 2 # minimum idle connections
    maxConnIdleTime: 300 # seconds
    maxConnLifetimeJitter: 60 # seconds
    healthCheckPeriod: 30 # seconds

redis:
    type: 1 # 1: standalone, 2: sentinel, 3: cluster
    use_tls: false
    # tls config if use_tls is true
    cert_path: '' # path to your certificate file, default if use: ./config/redis/cert.pem
    key_path: '' # path to your key file, default if use: ./config/redis/key.pem
    # base
    password: 'root1234'
    db: 0 # default database
    # For standalone type
    host: 127.0.0.1
    port: 6379
    # For sentinel type
    master_name: mymaster
    sentinel_addrs:
        - 127.0.0.1:26379
        - 127.0.0.1:26380
        - 127.0.0.1:26381
    # For cluster type
    address:
        - 127.0.0.1:26379
        - 127.0.0.1:26380
        - 127.0.0.1:26381
    route_by_latency: true # true if you want to route by latency, false if you want to route by hash
    route_randomly: false # true if you want to route randomly, false if you want
    # pool config
    pool_size: 10 # maximum number of connections in the pool
    min_idle_conns: 2 # minimum number of idle connections
    max_retries: 3 # maximum number of retries for a command

logger:
    folder_store: './logs'
    file_max_size: 500
    file_max_backups: 3
    filfile_max_agee_max_age: 30
    compress: true
