server:
    name: 'cio_verify_face'
    id: 'service-auth-node-0'
    region: 'us-west-1'
    shardId: 'shard-1'
    port: 8080
    mode: 'prod' # default: dev, options: dev, prod
    degraded_threshold: 85.0
    out_of_service_threshold: 95.0

grpc:
    network: 'tcp'
    port: 50051
    tls:
        enabled: false
        cert_file: ''
        key_file: ''

observability:
    enabled: true
    metrics_path: '/metrics'
    metrics_port: 9090
    tracing_enabled: true
    otlp_endpoint: 'http://jaeger:4318/v1/traces'

policy_rate_limit:
    - name: 'ws_read'
      # limit: 1000
      limit: 5
      window: '1m'

postgres:
    address:
        - postgres:5432
        # - v.v
    database: cio_verify_face
    username: postgres
    password: root1234
    sslmode: disable # 1: disable, require, verify-ca, verify-full
    sslcert: '' # path to your SSL certificate file, only if sslmode is not disable
    sslkey: '' # path to your SSL key file, only if sslmode is not disable
    sslrootcert: '' # path to your SSL root certificate file, only if sslmode is not disable
    sslpassword: '' # password for your SSL key file, only if sslmode is not disable
    appname: cio_verify_face-dev # application name
    connectionTimeout: 5 # seconds
    tz: 'UTC' # timezone
    maxConns: 10 # maximum number of connections
    minConns: 2 # minimum number of connections
    minIdleConns: 2 # minimum idle connections
    maxConnIdleTime: 300 # seconds
    maxConnLifetimeJitter: 60 # seconds
    healthCheckPeriod: 30 # seconds

redis:
    type: 1 # 1: standalone, 2: sentinel, 3: cluster
    use_tls: false
    # tls config if use_tls is true
    cert_path: '' # path to your certificate file, default if use: ./config/redis/cert.pem
    key_path: '' # path to your key file, default if use: ./config/redis/key.pem
    # base
    password: 'root1234'
    db: 0 # default database
    # For standalone type
    host: redis
    port: 6379
    # For sentinel type
    master_name: mymaster
    sentinel_addrs:
        - 127.0.0.1:26379
        - 127.0.0.1:26380
        - 127.0.0.1:26381
    # For cluster type
    address:
        - 127.0.0.1:26379
        - 127.0.0.1:26380
        - 127.0.0.1:26381
    route_by_latency: true # true if you want to route by latency, false if you want to route by hash
    route_randomly: false # true if you want to route randomly, false if you want
    # pool config
    pool_size: 10 # maximum number of connections in the pool
    min_idle_conns: 2 # minimum number of idle connections
    max_retries: 3 # maximum number of retries for a command

logger:
    folder_store: './logs'
    file_max_size: 500
    file_max_backups: 3
    filfile_max_agee_max_age: 30
    compress: true
