server:
    name: 'cio_verify_face'
    id: 'service-auth-node-0'
    region: 'us-west-1'
    shardId: 'shard-1'
    port: 8080
    mode: 'prod' # default: dev, options: dev, prod
    degraded_threshold: 85.0
    out_of_service_threshold: 95.0

grpc:
    network: 'tcp'
    port: 50051
    tls:
        enabled: false
        cert_file: ''
        key_file: ''

observability:
    enabled: true
    metrics_path: '/metrics'
    metrics_port: 9090
    tracing_enabled: true
    otlp_endpoint: 'http://jaeger:4318/v1/traces'

smtp:
    host: 'smtp.google.com'
    port: 587
    username: 'lytranvinh.work@gmail.com'
    password: ''
    from: 'lytranvinh.work@gmail.com'
    from_name: 'Ly Tran Vinh'
    use_tls: true
    use_starttls: true
    skip_verify: false

policy_rate_limit:
    - name: 'ws_read'
      # limit: 1000
      limit: 5
      window: '1m'

kafka:
    brokers:
        - kafka:9094 # Danh sách broker Kafka
    security:
        sasl:
            enabled: true # Bật xác thực SASL (true/false)
            mechanism: 0 # 0: plain, 1: scram-sha-256, 2: scram-sha-512
            username: kafka_user
            password: kafka_password
        tls:
            enabled: 0 # 0: false, 1: true
            skip_verify: 0 # 0: false, 1: true
            ca_file: '' # Đường dẫn file CA nếu cần
    producer:
        compression_type: 2 # 0: none, 1: gzip, 2: snappy, 3: lz4, 4: zstd
        retries: 5 # Số lần retry khi lỗi
        retry_backoff_ms: 100 # Thời gian giữa các lần retry (ms)
        linger_ms: 20 # Delay gửi batch nếu batch chưa đầy (ms)
        batch_size: 100 # Số lượng message tối đa trong 1 batch
        batch_bytes: 1048576 # Giới hạn kích thước batch (1MB)
        max_attempts: 5 # Tối đa số lần thử gửi (tổng thể, bao gồm retry logic)
        async: false # true: gửi không chờ phản hồi (mất message nếu lỗi)
        write_timeout_ms: 10000 # Timeout khi ghi message (ms)
        read_timeout_ms: 10000 # Timeout khi nhận phản hồi từ Kafka (ms)
        balancer: 3 # 0: custom config, 1: RoundRobin, 2: LeastBytes, 3: Hash, 4: ReferenceHash, 5: CRC32Balancer, 6: Murmur2Balancer, ...
    consumers:
        group_id: 'cio_verify_face-consumer-group' # ID của consumer group
        threads: 3 # Số luồng xử lý message
        # COMMIT
        commit_interval_ms: 1000 # 0 = sync commit, >0 = auto commit theo thời gian (ms)
        # BATCH FETCH
        min_bytes: 10000 # 10KB: Minimum data per fetch
        max_bytes: 1048576 # 1MB: Maximum fetch size
        max_wait_ms: 500 # Maximum time to wait for batch fill (ms)
        read_batch_timeout_ms: 10000
        # HEARTBEAT & REBALANCE
        heartbeat_interval_ms: 3000
        session_timeout_ms: 30000
        rebalance_timeout_ms: 30000
        join_group_backoff_ms: 5000
        # BACKOFF (khi không có message)
        read_backoff_min_ms: 100 # Min delay between poll retries
        read_backoff_max_ms: 1000 # Max delay
        # LAG MONITORING
        read_lag_interval_ms: 5000 # -1 = disable
        # CONNECTION / RETRY
        max_attempts: 3
        # QUEUE
        queue_capacity: 100
        # RETENTION
        retention_time_ms: -1 # -1 = use broker default

postgres:
    address:
        - postgres:5432
        # - v.v
    database: cio_verify_face
    username: postgres
    password: root1234
    sslmode: disable # 1: disable, require, verify-ca, verify-full
    sslcert: '' # path to your SSL certificate file, only if sslmode is not disable
    sslkey: '' # path to your SSL key file, only if sslmode is not disable
    sslrootcert: '' # path to your SSL root certificate file, only if sslmode is not disable
    sslpassword: '' # password for your SSL key file, only if sslmode is not disable
    appname: cio_verify_face-dev # application name
    connectionTimeout: 5 # seconds
    tz: 'UTC' # timezone
    maxConns: 10 # maximum number of connections
    minConns: 2 # minimum number of connections
    minIdleConns: 2 # minimum idle connections
    maxConnIdleTime: 300 # seconds
    maxConnLifetimeJitter: 60 # seconds
    healthCheckPeriod: 30 # seconds

redis:
    type: 1 # 1: standalone, 2: sentinel, 3: cluster
    use_tls: false
    # tls config if use_tls is true
    cert_path: '' # path to your certificate file, default if use: ./config/redis/cert.pem
    key_path: '' # path to your key file, default if use: ./config/redis/key.pem
    # base
    password: 'root1234'
    db: 0 # default database
    # For standalone type
    host: redis
    port: 6379
    # For sentinel type
    master_name: mymaster
    sentinel_addrs:
        - 127.0.0.1:26379
        - 127.0.0.1:26380
        - 127.0.0.1:26381
    # For cluster type
    address:
        - 127.0.0.1:26379
        - 127.0.0.1:26380
        - 127.0.0.1:26381
    route_by_latency: true # true if you want to route by latency, false if you want to route by hash
    route_randomly: false # true if you want to route randomly, false if you want
    # pool config
    pool_size: 10 # maximum number of connections in the pool
    min_idle_conns: 2 # minimum number of idle connections
    max_retries: 3 # maximum number of retries for a command

logger:
    folder_store: './logs'
    file_max_size: 500
    file_max_backups: 3
    filfile_max_agee_max_age: 30
    compress: true
