// src/components/Card/Card.module.scss

@import '../../styles/tokens';
@import '../../styles/mixins';

.card {
  @include card;
  @include transition(box-shadow);
  
  &.clickable {
    cursor: pointer;
    
    &:hover {
      @include elevation(2);
    }
    
    &:focus-visible {
      @include focus-ring;
    }
  }
}

.padding-none {
  padding: 0;
}

.padding-sm {
  padding: var(--sp-3);
}

.padding-md {
  padding: var(--sp-5);
}

.padding-lg {
  padding: var(--sp-6);
}

.elevation-0 {
  box-shadow: none;
  border: 1px solid var(--color-border);
}

.elevation-1 {
  @include elevation(1);
}

.elevation-2 {
  @include elevation(2);
}

.elevation-3 {
  @include elevation(3);
}

.elevation-4 {
  @include elevation(4);
}

.elevation-5 {
  @include elevation(5);
}

.header {
  padding-bottom: var(--sp-4);
  border-bottom: 1px solid var(--color-border-light);
  margin-bottom: var(--sp-4);
  
  &:last-child {
    margin-bottom: 0;
    border-bottom: none;
    padding-bottom: 0;
  }
}

.title {
  font-size: var(--fs-lg);
  font-weight: var(--fw-medium);
  color: var(--color-text-primary);
  margin: 0;
  line-height: var(--lh-tight);
}

.content {
  flex: 1;
  
  &:last-child {
    margin-bottom: 0;
  }
  
  p:last-child {
    margin-bottom: 0;
  }
}

.actions {
  display: flex;
  gap: var(--sp-3);
  margin-top: var(--sp-4);
  padding-top: var(--sp-4);
  border-top: 1px solid var(--color-border-light);
  
  &:first-child {
    margin-top: 0;
    padding-top: 0;
    border-top: none;
  }
  
  &.align-left {
    justify-content: flex-start;
  }
  
  &.align-right {
    justify-content: flex-end;
  }
  
  &.align-center {
    justify-content: center;
  }
  
  &.align-between {
    justify-content: space-between;
  }
}

@include respond(sm) {
  .actions {
    flex-direction: column;
    gap: var(--sp-2);
    
    &.align-left,
    &.align-right,
    &.align-center {
      align-items: stretch;
    }
    
    &.align-between {
      flex-direction: row;
    }
  }
}